.img-animal4 {
    height: 60vh;
    width: 45vw;
    box-shadow: 2px 2px 5px 4px grey;
    border-radius: 5px;
}

.info-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-1 {
    background-color: lightcoral;
    height: 50vh;
    width: 22vw;
    padding: 3%;
    font-weight: bold;
    font-size: x-large;
    border-radius: 7px;
    border: 2px solid maroon;
    padding-top: 2%;
    box-shadow: 2px 2px 5px 4px grey;
}

.head-1 {
    color: maroon;
}